@font-face{
 font-family: 'Alehna';
 src: url(Fonts/Alehna/alehna-webfont.woff);
 }
::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-track{background: #807279; border: hidden; border-radius: 7px;}
::-webkit-scrollbar-thumb{background: #000000; border: hidden; border-radius: 7px;}
::-webkit-scrollbar-thumb:hover{background: #6E4555}
html{
 line-height: 26px;
 font-family: Alehna;
 letter-spacing: 1.1px;
 overflow-y: scroll;
 overflow-x: hidden;
 }
a:link{
 color: black;
 text-decoration: underline;
 text-decoration-style: wavy;
 text-decoration-color: black;
 }
a:visited{
 text-decoration: underline;
 text-decoration-style: wavy;
 text-decoration-color: #313131;
 color: #313131;
 }
a:hover{
 text-decoration: none;
 color: #313131;
 }
a{
  line-height: 25px;
 }
h1{
 width: 140px;
}